/*Styles for Product page*/
.cards {
    display: flex;
    flex-wrap: wrap;
}

.card-box {
    width: 13rem;
    height: 20rem;
    margin: 1rem;
    border: 1px solid pink;
    border-radius: 16px;
    background-color: #cccc14;
}

.card-box .card-image {
    height: 15rem;
    width: 13rem;
    border-radius: 16px;
    overflow: hidden;
}

.card-box .card-image img {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
}

.text-center {
    text-align: center;
}

.detail {
    padding: 4px 2px;
    font-family: Tahoma, sans-serif;
    color: #ff1e00;
}
=======
  display: flex;
  flex-wrap: wrap;
}

.card-box {
  width: 13rem;
  height: 20rem;
  margin: 1rem;
  border: 1px solid pink;
  border-radius: 16px;
  background-color: #cccc14;
}

.card-box .card-image {
  height: 15rem;
  width: 13rem;
  border-radius: 16px;
  overflow: hidden;
}

.card-box .card-image img {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}
.text-center {
  text-align: center;
}

.detail {
  padding: 4px 2px;
  font-family: Tahoma, sans-serif;
  color: #ff1e00;
}