/** basic element controls **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
}
p {
  font-size: larger;
  line-height: 1.5em;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}
#pages {
  margin: 50px 0;
}
#pages>section {
  padding: 0 10px;
}

/*Google Font for Logo*/
@font-face {
  font-family: "Logo";
  src: local("Logo"), url("./font/Kalam-Bold.ttf") format("truetype");
  font-weight: bold;
}
.logo {
  padding: 7px;
  display: block;
  font-family: Logo, "Times New Roman", serif;
  font-size: 30px;
  color: #bd8a16 !important;
  text-decoration: none;
  text-transform: capitalize;
}

/** NavBar styling **/
#lg-menu,
#mobileMenu {
  border-bottom: 1px solid #bd8a16;
  margin-bottom: 10px;
  z-index: 999;
}
#lg-menu a,
#mobileMenu a {
  color: #333;
  font-weight: bold;
}
#lg-menu a:hover,
#mobileMenu a:hover {
  color: #bd8a16;
}
#lg-menu ul {
  display: none;
}
@media only screen and (min-width: 600px) {
  #mobileMenu,
  .mobile-menu-group {
    display: none !important;
  }
  #lg-menu ul {
    display: grid;
  }
}

#lg-menu ul {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  text-align: center;
  padding: 0;
  margin: 0;
}
#lg-menu ul li {
  margin: auto;
  text-transform: uppercase;
}
#lg-menu ul .li-logo {
  grid-column: span 2 / span 2;
}

.mobile-menu-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  z-index: 99;
}
.mobile-menu-group {
  text-align: center;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #ffffffd4;
}
#mobileMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  background-color: #ffffffd4;
}
#mobileMenu ul {
  padding: 0;
}
#mobileMenu li {
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
}
#mobileMenu li a {
  margin: 5px auto;
}


/** Contact Page styling **/
.contact-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  padding: 2rem
}

#contact-page{
  margin-bottom: 3rem;
}

#contact-page p{
  margin-bottom: 1rem;
}

form{
  height: fit-content;
  border: 1px solid #bd8a16;
  min-width: 18rem;
  text-align: center;
  padding: 5px;
}

form label{
  width: 100%;
  padding: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

form input, form textarea{
  background-color: #fff;
  border: 1px solid #bd8a16;
  font-size: 1.15rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
}

form input{
  height: 2.2rem;
}

form button{
  margin: 2.5rem 0;
  padding:0.5rem 6rem;
  border: 1px solid #bd8a16;
}

/** Footer styling **/
footer {
  background-color:  #1a1915;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: 2rem;
}

.footer-info{
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
}

.footer-info div{
  padding: 0 2.5rem;
  display: inline-grid;
  text-align: left;
}

.footer-info h4{
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

footer p{
  padding: 0.5rem 0;
}

footer a{
  text-decoration: none;
  color: #6b6b59;
  font-weight: bold;
  font-size: small;
}

footer span h5{
  padding-left: 2rem;
  margin: 1rem 0;
  text-align: center;
}

/** Home Slider **/
.homeslider {
  position: relative;
}
.homeslider img {
  width: 100%;
}
.homeslidernav {
  width: 100%;
  margin: auto;
  margin-top: -5px;
  display: grid;
  grid-template-columns: repeat(2,
    minmax(0, 1fr));
}
.book-a-table {
  display: none;
}
@media only screen and (min-width: 600px) {
  .homeslidernav {
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 20%;
  }
  .home-header {
    top: 70px !important;
  }
  .book-a-table {
    display: inline;
  }
  .book-a-table-mobile {
    display: none;
  }
}
.homeslidernav input {
  border: none;
  padding: 1.5em;
  cursor: pointer;
}
.home-header{
  top: 10%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.home-header button {
  padding: 1em;
  border: 5px outset #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  min-width: 300px;
  margin-top: 10px;
}
.book-a-table-mobile,
.browse-products {
  color: rgba(24, 13, 13, 0.897);
  width: 100%;
  border: 5px outset #bd8a1678;
  padding: 0.7em;
  font-weight: bold;
  margin-top: 10px;
  text-decoration: none;
}